@font-face {
    font-family:'gotham_proregular';
    src:url(../fonts/gothaproreg-webfont.eot);
    src:url(../fonts/gothaproreg-webfont.eot#iefix) format("embedded-opentype"),
        url(../fonts/gothaproreg-webfont.woff) format("woff"),
        url(../fonts/gothaproreg-webfont.ttf) format("truetype"),
        url(../fonts/gothaproreg-webfont.svg#gotham_proregular) format("svg");
    font-weight:400;
    font-style:normal
}

@font-face {
    font-family:'gotham_prolight';
    src:url(../fonts/gothaprolig-webfont.eot);
    src:url(../fonts/gothaprolig-webfont.eot#iefix) format("embedded-opentype"),
        url(../fonts/gothaprolig-webfont.woff) format("woff"),
        url(../fonts/gothaprolig-webfont.ttf) format("truetype"),
        url(../fonts/gothaprolig-webfont.svg#gotham_prolight) format("svg");
    font-weight:400;
    font-style:normal
}

@font-face {
    font-family:'gotham_probold';
    src:url(../fonts/gothaprobol-webfont.eot);
    src:url(../fonts/gothaprobol-webfont.eot#iefix) format("embedded-opentype"),
        url(../fonts/gothaprobol-webfont.woff) format("woff"),
        url(../fonts/gothaprobol-webfont.ttf) format("truetype"),
        url(../fonts/gothaprobol-webfont.svg#gotham_probold) format("svg");
    font-weight:400;
    font-style:normal
}

@font-face {
    font-family:'gotham_promedium';
    src:url(../fonts/gothapromed-webfont.eot);
    src:url(../fonts/gothapromed-webfont.eot#iefix) format("embedded-opentype"),
        url(../fonts/gothapromed-webfont.woff) format("woff"),
        url(../fonts/gothapromed-webfont.ttf) format("truetype"),
        url(../fonts/gothapromed-webfont.svg#gotham_promedium) format("svg");
    font-weight:400;
    font-style:normal
}

html, body {
    font-family: gotham_proregular, sans-serif;
}

body {
    font-size: 1.6rem;
    line-height: 1.6em;
    color: #777;
}

h1, h2, h3,
h4, h5, h6 {
    font-family: gotham_promedium, sans-serif;
    font-weight: normal;
}

h1 {
    font-size: 3rem;
    letter-spacing: 0px;
}

h2 {
    font-family: gotham_proregular, sans-serif;
    font-size: 2.5rem;
    letter-spacing: 0px;
}

h3 {
    font-size: 2rem;
}

.main-nav a {
    font-family: gotham_prolight, sans-serif;
    font-weight: normal;
}

.page-title {
    font-family: gotham_promedium, sans-serif;
    font-weight: normal;
    font-size: 3rem;
}

.page-description {
    font-family: gotham_promedium, sans-serif;
    font-weight: normal;
}
